body {
    font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, Verdana, serif;
    font-size: 18px;
    margin: 1% 20% 5% 20%;
    padding: 0% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
}

h1 {
    color: DimGray;
    line-height: 150%;
}

h2 {
    font-family: STKaiti, KaiTi, "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, Verdana, serif;
    margin-bottom: 50px;
    padding: 5px;
    padding-left: 15px;
    border-bottom: 2px LightGray solid;
    line-height: 150%;
    color: CornflowerBlue;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: Gray;
    text-decoration: none;
}

pre {
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    font-size: 70%;
    border: 1px solid LightGray;
    border-radius: 5px;
    background-color: WhiteSmoke;
    padding: 10px;
    margin-left: 10px;
    width: 95%;
}

code {
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    font-size: 75%;
    border: 1px solid LightGray;
    border-radius: 3px;
    background-color: WhiteSmoke;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 1px;
    margin-left: 3px;
    margin-right: 3px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
